<footer>
	<div class="footContainer">
		<div class="foot footLogo">
			<img src="images/footLogo.png" alt="">	
		</div>
	<div class="foot newsletter">
		<h2>TRANSATLANTIC MUSIC</h2>
		<input type="text" placeholder="Sign up for our newsletter.">
	</div>

	<div class="foot social"></div>
		<ul>
			<li>Connect</li>
			<br>
			<li><a href="http://www.facebook.com" target="_blank">Facebook</a></li>
			<li><a href="http://www.twitter.com" target="_blank">Twitter</a></li>		
			<li><a href="http://www.spotify.com" target="_blank">Spotify</a></li>
			<li><a ui-sref="contact">Contact</a></li>
		</ul>

	</div>

	<div class="foot navigation">
		
	</div>

</footer>