<header id="header">
<ul>
	<li><h3><a ui-sref="home" title="HOME">HOME</a></h3></li>
	<li><h3>|</h3></li>
	<li><h3><a ui-sref="reviews" title="REVIEWS">REVIEWS</a></h3></li>
	<li><a ui-sref="home"><img src="images/Logo_Header.png" alt="Transatlantic Music" title="Transatlantic Music"></a></li>
	<li><h3 style="margin-left: 27px;"><a ui-sref="playlist" title="PLAYLIST">PLAYLISTS</a></h3></li>
	<li><h3>|</h3></li>
	<li><h3><a ui-sref="about" title="ABOUT">ABOUT</a></h3></li>
</ul>
	
</header><!-- /header -->