<div class="container home">
<md-content layout-padding="center center">
<md-grid-list
        md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="20"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="20px" md-gutter-gt-sm="20px">

    <md-grid-tile md-rowspan="3" md-colspan="4" md-colspan-sm="2" ng-mouseover="changeImage=true" ng-mouseleave="changeImage=false" ng-init="changeImage=false" style="">

      <div class="hidden" ng-show="changeImage">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates sit, exercitationem eos.
      </div>

    </md-grid-tile>

     <md-grid-tile md-rowspan="3" md-colspan="4" md-colspan-sm="2" >
    </md-grid-tile>

     <md-grid-tile md-rowspan="3" md-colspan="4" md-colspan-sm="2" >
    </md-grid-tile>

     <md-grid-tile md-rowspan="3" md-colspan="4" md-colspan-sm="2" >
    </md-grid-tile>

     <md-grid-tile md-rowspan="3" md-colspan="4" md-colspan-sm="2" >
    </md-grid-tile>

     <md-grid-tile md-rowspan="3" md-colspan="4" md-colspan-sm="2" >
    </md-grid-tile>

     <md-grid-tile md-rowspan="3" md-colspan="4" md-colspan-sm="2" >
    </md-grid-tile>

     <md-grid-tile md-rowspan="3" md-colspan="4" md-colspan-sm="2" >
    </md-grid-tile>

  
    
  </md-grid-list>
</md-content>
</div>